{# src/VL/PlatformBundle/Resources/views/Advert/session.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <title>Manipulation des variables de session</title>
    </head>
    <body>
        <h1>Je suis une page test. Je n'ai rien à dire.</h1>
    </body>
</html>